# Maven
backend/backend/target/

# Eclipse / STS
backend/.metadata/
backend/backend/.classpath
backend/backend/.project
backend/backend/.settings/

# IntelliJ
.idea/
*.iml


# Environment files
.env
.env.*
!.env.example

# React
frontend/node_modules/
frontend/dist/

# Logs
*.log