.features{
    padding:80px 60px;
    background:#ffffff;
}

.section-title{
    text-align:center;
    margin-bottom:50px;
}

.section-title h2{
    font-size:38px;
    color:#1E293B;
}

.section-title p{
    color:#64748B;
    margin-top:10px;
}

.feature-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.feature-card{
    width:320px;
    padding:30px;
    background:#F8FAFC;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    text-align:center;
}